<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post">
        <h1>Investment Creator</h1>
        {% csrf_token %}
        <label for="code_identifyer">Code identifyer:</label>
        <input type="text" name="code_identifyer" id="code_identifyer">
        <button type="submit">Save</button>
    </form>
</body>

</html>